@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header #toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle::before
{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle::after
{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.popup-screen
{
    z-index: -999999;
    position: fixed;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    transition-property: visibility;
}

.popup-screen.active
{
    visibility: visible;
    z-index: 999999;
}

.popup-box
{
    position: relative;
    background: rgb(47, 47, 47, 0.8);
    backdrop-filter: blur(10px);
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgb(0, 0, 0 / 20%);
    transform: scale(0);
    transition-property: transform;
}

.popup-screen.active .popup-box
{
    transform: scale(1);
}

.popup-box h2
{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 20px ;
}

.popup-box p
{
    font-size: 1em;
    margin-bottom: 30px;
}

.popup-box h2,
.popup-box p
{
    color: #fff;
}

.popup-box .btn-popup
{
    color: black;
    background: #f7ff5b;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 27px;
    border-radius: 3px;
}

.container
{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-content
{
    margin-top: 200px;
    margin-bottom: 40px;
    float: inline-end;
}

.scroll-content .image
{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.scroll-content .image img
{
    
    z-index: 11111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.scroll-content .scroll-text-box
{
    z-index: 22222;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #fff;
    transform: translate(-80px, 50px);
}

.scroll-text-box h3
{
    font-size: 2em;
    color: #f7ff5b;
    margin-bottom: 10px;
}

.banner
{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 100px;
    background: black;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.imgBx
{
    margin-right: -200px;
}

.imgBx img
{
    height: 500px;
    float: right;
    margin: -200px;
    top: -200px;
    right: 0%;
    z-index: -1s;
}

#navigation
{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #f7ff5b;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

#navigation.active
{
    right: 0s;
}

#navigation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li
{
    list-style: none;
}

#navigation ul li a
{
    color: rgb(47, 47, 47);
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.content
{
    align-self: center;
    max-width: 900px;
    display: grid;
    align-items: center;
}

.content h2
{
    color: #fff;
    font-size: 2.5em;
}

.content h2 span
{
    color: #f7ff5b;
    font-size: 1.2em;
}

.content p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    z-index: 100000;
    text-shadow: #000 2px;
}

.content a
{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: green;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 280px;
    text-align: center;
    border-radius: 10px;
}

.spotify-btn
{
    z-index: 9999999;
}

.spotify-btn:hover
{
    background-color: rgb(0, 83, 0);
}

.spotify-btn:active
{
    background-color: #f7ff5b;
    transform: translateY(4px);
}

.sci
{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}

.sci li a:hover
{
    background: #fff;
}

.sci li a img
{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
    z-index: -100;
}

.set2
{
    transform: scale(.5) rotateY(180deg);
    filter: blur(4px);
}

.set3
{
    transform: scale(.8) rotateX(180deg);
    filter: blur(2px);
}

.set4
{
    transform: scale(.3) rotateY(180deg);
    filter: blur(6px);
}

.set
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

.set div
{
    position: absolute;
    display: block;
}

.set div:nth-child(1)
{
    left: 20%;
    animation: animate 55s linear infinite;
    animation-delay: -8s;
}

.set div:nth-child(2)
{
    left: 50%;
    animation: animate 70s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(3)
{
    left: 700%;
    animation: animate 85s linear infinite;
}

.set div:nth-child(4)
{
    left: 60%;
    animation: animate 55s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(5)
{
    left: 85%;
    animation: animate 64s linear infinite;
    animation-delay: -2s;
}

.set div:nth-child(6)
{
    left: 15%;
    animation: animate 46s linear infinite;
    
}

@keyframes animate
{
    0%
    {
        top: -10%;
        opacity: 1;
        transform: translateX(20px) rotate(0deg);
    }

    20%
    {
        transform: translateX(-20px) rotate(45deg);
    }

    40%
    {
        transform: translateX(20px) rotate(90deg);
    }

    60%
    {
        transform: translateX(-20px) rotate(135deg);
    }

    80%
    {
        transform: translateX(20px) rotate(180deg);
    }

    100%
    {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

@media (max-width: 1260px)
{
    .imgBx img
    {
        height: 600px;
        margin-right: 0px;
    }
}

@media (max-width: 767px)
{
    header 
    {
        padding: 20px 50px;
    }

    .banner
    {
        padding: 100px 50px 150px;
    }

    .banner h2
    {
        font-size: 1.8em;
    }
    .content
    {
        position: relative;
    }

    .banner .content img
    {
        padding-top: 80px;
        transition: .5s;
    }

    .banner .content p,
    .banner .content a
    {
        font-size: 1em;
    }

    .banner .content p
    {
        margin-top: 200px;
        transition: 0.5s;
        padding-top: 30px;
    }

    .banner .content a
    {
        max-width: 150px;
    }

    .banner.active,
    .imgBx
    {
        transform: translateX(-250px);
    }

    .imgBx img
    {
        height: 400px;
    }

    #navigation
    {
        width: 250px;
    }

    #navigation ul li a
    {
        font-size: 1.5em;
        margin: 5px 0;
    }

    .sci
    {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }

    .sci li a
    {
        margin: initial;
        margin-right: 10px;
    }

}

@media (max-width: 539px)
{
    .banner .content h2
    {
        margin-top: 100px;
    }
    .banner .content img
    {
        margin-top: 0px;
        transition: .5s;
    }

    .imgBx
    {

        float: inline-start;
    }
}